/* assets/css/header.scss */

header {
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.19);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .logo {
    background-image: url("/images/logo.svg");
    width: 80px;
    height: 21px;
    margin: 20px;
    position: absolute;
  }

  a {
    float: right;
    margin: 20px;
  }

  .profile-container {
    float: right;
    margin-top: 4px;
    margin-right: 18px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }

    p {
      font-size: 16px;
      color: #7A7A7A;
      display: inline-block;
    }
  }
}