<!-- lib/messengyr/web/templates/login.html.eex -->

<div class="card login">

  <h1>Log in to Messenger</h1>

  <%= form_for @conn, page_path(@conn, :login_user), [as: :credentials], fn f -> %>

    <%= text_input f, :username, placeholder: "Username" %>

    <%= text_input f, :password, placeholder: "Password", type: "password" %>

    <%= submit "Log in", class: "login" %>

  <% end %>

</div>
